* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: clamp(0.7, 2vw, 1.5);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.terminal {
  font-size: calc(var(--size) * 1em);
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.terminal-output {
  flex: 1;
  overflow-y: auto;
}

.jquery-terminal-output {
  width: 100%;
  height: 100%;
}

.jquery-terminal-wrapper {
  width: 100%;
  height: 100%;
}


@media (max-width: 360px) {
  :root {
    --size: 0.7;
  }
}


@media (min-width: 361px) and (max-width: 480px) {
  :root {
    --size: 0.85;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  :root {
    --size: 1;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --size: 1.2;
  }
}


@media (min-width: 1025px) {
  :root {
    --size: 1.5;
  }
}



